@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans");

h1, h2, h3, p {
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 22px;
    text-align: center;
}

header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #3A3A47;
}

header a {
    text-decoration: none;
    color: white;
}

header ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

body {
    font-family: "IBM Plex Sans";
    color: white;
    margin: 0px;
    padding: 0px;
}

body a:link {
    color: white;
}

body a:visited {
    color: #D3D4DD
}

#profile {
    display: block;
    margin: 20px auto 20px auto;
    border-radius: 50%;
}

.segment {
    background-color: #3A3A47;
    border-radius: 10px;
    margin: 20px auto 20px auto;
    max-width: 60%;
    padding: 10px;
}