html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#banner {
    display: flex;
    align-items: center;
    height: 200px;
    padding: 10px;
    background-color: brown;
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

#login-area {
    height: 100px;
    background-color: azure;
    display: flex;
    align-items: center;
    padding: 10px;
}

#content-area {
    padding: 10 px;
}

.post {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 10px;
}